@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');



:root {
	/* BG */
	--clr-white: hsl(0, 0%, 100%);
	--clr-lightGray: hsl(212, 45%, 89%);
	
	/* Text */
	--clr-grayishBlue: hsl(220, 15%, 55%);
	--clr-darkBlue: hsl(218, 44%, 22%);
}



* {
	padding: 0;
	margin: 0;
	box-sizing: content-box;
	font-family: 'Outfit', sans-serif;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--clr-lightGray);
	min-height: 100vh;
}



.card {
	display: grid;
	gap: 24px;
	background: var(--clr-white);
	width: 288px;
	padding: 16px 16px 41px 16px;
	border-radius: 20px;
	box-shadow: hsla(0, 0%, 0%, 5%) 0 25px 32px;
}



img {
	width: 100%;
	border-radius: 10px;
}



.textCon {
	display: grid;
	justify-items: center;
	gap: 15px;
}
h3,
p {
	text-align: center;
}
h3 {
	color: var(--clr-darkBlue);
	font-size: 22px;
	font-weight: 700;
	letter-spacing: .075px;
}
p {
	color: var(--clr-grayishBlue);
	max-width: 26ch;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: .22px;
}